
/* 
----------------------------------------------------------------------------------------

Copyright 2010 - Thierry Ruiz - www.dotemplate.com - All rights reserved.

THIS TEMPLATE IS FREE AS LONG AS YOU KEEP THE LINK TO WWW.DOTEMPLATE.COM IN THE FOOTER
TO REMOVE THE LINK, PLEASE MAKE A 10 DOLLARS DONATION at www.dotemplate.com/#donate

----------------------------------------------------------------------------------------
*/


html {
	background: $bottomWrapper.bg.color;
	margin:0 0 0 -1px;
	padding:0;	
	overflow-Y: scroll;
}


#wrapper {
	margin:0 auto ;
	width:100%;
}

body {
	background: #eeeeee;
	background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc));
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%);
	background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%);
	background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%);
	background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );

}

#wrapper {
	border-top: 1px solid #ffffff;
}




#topBannerWrapper {
	width:100%;
	height:90px;
	background-color:#f0ead1;
	background-image:url(images/css/topBannerWrapper-bg.jpg);
	background-position:center top ;
	background-repeat:repeat-x;
}



#topBanner {
	width:920px;
	margin:0 auto;
	height:90px;
	background-image:url(images/css/topBanner.jpg);
	background-repeat:no-repeat;
}



#hmenuWrapper {
	width:100%;
	margin:0 auto ;
}

#hmenu {
	position:relative;
	top:30px;
	float:right;
}



#hmenu ul {
	list-style:none inside none;
	margin:0;
	padding:0;
	font-size:14px;
	font-family:Arial,sans-serif;
}

#hmenu ul li {
	float:left;
}

#hmenu ul li a {
	border:0 none;
	color:#660d05;
	display:block;
	float:left;
	font-size:14px;
	font-weight:bold;
	height:2em;
	line-height:2em;
	text-align:center;
	margin:0 20px;
}


#hmenu ul li a:hover,#hmenu li#current a {
	background: rgb(169,3,41);
	background: -moz-linear-gradient(-45deg,  rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(169,3,41,1)), color-stop(44%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1)));
	background: -webkit-linear-gradient(-45deg,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
	background: -o-linear-gradient(-45deg,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
	background: -ms-linear-gradient(-45deg,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
	background: linear-gradient(135deg,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 );

	color:#FFFFFF; 
}

#hmenu ul li a:link {
	text-decoration:none;
}

#hmenu ul li a:visited {
	text-decoration:none;
}

#hmenu ul li a:active {
	text-decoration:none;
}


#hmenu li#current a {
	background-color:#660d05;
	color:#FFFFFF; 
}



#topSlideshowWrapper {
	width:100%;
	height:300px;
	background: #a90329;
background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 5%, #6d0019 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(5%,#8f0222), color-stop(100%,#6d0019));
background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 5%,#6d0019 100%);
background: -o-linear-gradient(top,  #a90329 0%,#8f0222 5%,#6d0019 100%);
background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 5%,#6d0019 100%);
background: linear-gradient(to bottom,  #a90329 0%,#8f0222 5%,#6d0019 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );



}


#sliderContainer {
	width: 920px;
	margin:0 auto;
}


#slider1 {
	width:100%;
	height: 300px;	
	position: relative;
	overflow: hidden; /* important */
}


#slider1 img { 
	padding: 0; 
	margin:0;
	width:920px;
	height:300px;
}


#slider1 a img { border:none } 


#slider1Content {
	margin:0;
	padding:0;
	height:300px;
	font-size:0;
	width:100%;
	position: relative;  
}


.slider1Image {
	display:none;
	float:left;
	position:relative;
	margin:0;
	padding:0;
}

.slider1Image span {
	position: absolute;
	left:0;
	font-family:Tahoma, Arial;
	font-size:14px;
	padding: 0px;
	width:920px;
	background-color:#660d05;  
	color: #fff;
	display: none;
	z-index:20;
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;	
	-khtml-opacity: 0.7;
	opacity: 0.7;
} 


.slider1Image .bottom {
	bottom: 0;
	left: 0;
	height: 70px;
} 


#sliderLeftMask {
	height:300px;
	position:absolute;
	top:0;
	left:0px;
	width:180px;
	z-index:10;
	background:url('images/css/sliderLeftMask.png') no-repeat scroll center center transparent;
}



#sliderRightMask {
	height:300px;
	position:absolute;
	top:0;
	left:740px;
	width:180px;
	z-index:10;
	background:url('images/css/sliderRightMask.png') no-repeat scroll center center transparent;
}




#container {
	margin:0 auto;
	width:920px;
	min-height:570px;
}




#content {
	width:920px;
	margin:0 auto ;
	text-align:left;
}

#content p {
	text-align:justify;
}





#main {
	width:610px;
	float:left;
	margin-right:40px ;
}

#sidebar {
	float:left;
	width:270px;
}

.bloc h3 {
	margin-top:10px;
}

.bloc {
	padding:15px;
	background: #f6f8f9;
background: -moz-linear-gradient(top,  #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(50%,#e5ebee), color-stop(51%,#d7dee3), color-stop(100%,#f5f7f9));
background: -webkit-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
background: -o-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
background: -ms-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
background: linear-gradient(to bottom,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 );



}



#content a:link, #content a:visited {
	color:#505050;
	font-weight:bold;
}


#content p {
	margin-top:10px;
	text-align:justify;
}


.padd15 {
	padding:15px;
}

.padd20 {
	padding:20px;
}


body {
	color:#3B170B;
	font-family:Arial,Helvetica,sans-serif,"宋体";
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
}

p {
	letter-spacing: normal;
	line-height: 1.7em;
}


h1 {
	color:#FA5882;
	margin:20px 0 10px 0;
	clear:both;
}


h2 {
	color:#000000;
	margin:20px 0 10px 0;
	clear:both;
}


h3 {
	color:#000000;
	margin:10px 0 5px 0;
	clear:both;
}


a:link, a:visited {
	color:#505050;
	text-decoration:none;
}


a:hover {
	text-decoration:underline;
}



#bottomWrapper {
	background-color:#000000;
	background-image:url(images/css/bottomWrapper-bg.png);
	background-position:center top ;
	background-repeat:repeat-x;
	text-align:center;
	color:#70806D;
	text-align:center;	
	width:100%;
	clear:both;	
}


#bottomWrapper a:link, #bottomWrapper a:visited {
	color:#e7ded9;
}



#bottomWrapper a:hover{
	color:#cdb380;
	text-decoration:none;
}


#footer {
	min-height:260px;
	width:920px;
	margin:0 auto;
	background-color:#000000;
	background-image:url(images/css/footer-bg.png);
	background-position:center top ;
	background-repeat:no-repeat;
}




.footer-last {
	margin-right:0 !important;
	clear:right;
}

.footer-one-third {
	float:left;
	margin:20px 100px 20px 0;
	width:240px;
	position:relative;
	text-align:left;
	overflow:hidden;
}

.footer-one-third h3 {
	margin-top:10px;
}

.footer-one-third ul{
	border-top:1px solid #0a0a0a;
	padding:0 ;
}

.footer-one-third ul, .footer-one-third li {
	list-style: none ;
	margin-left:0 ;
}

.footer-one-third li {
	border-bottom:1px solid #0a0a0a;
	padding: 5px 0 ;
}



#bottom-links {
	height:60px;
	background:#000000 url('images/css/bottomLinks-bg.png') center top repeat-x;
}


a img {
	border:none;
} 


.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.btn {
	display:bolck;    
	width:auto;
	height:auto;
	font-size: 1em; 
	padding:5px;
	margin:5px;
	color:#8d4f10;
	background:#f0ead0;
	text-decoration:none;
	text-align:center;
	border:2px outset #e8e0bc;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.btn:hover{
	font-weight:bold;
	color:#ffffff;
	background:#daa670;
	text-decoration:none;
	border:2px outset #daa670;
}

.thread {
	margin-top:6%;
	margin-left: -7%;	
}

.thread table {
	width:150%;
}


.thread_tr1 {
	background: #356aa0;
	background: -moz-linear-gradient(top,  #356aa0 0%, #356aa0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#356aa0), color-stop(100%,#356aa0));
	background: -webkit-linear-gradient(top,  #356aa0 0%,#356aa0 100%);
	background: -o-linear-gradient(top,  #356aa0 0%,#356aa0 100%);
	background: -ms-linear-gradient(top,  #356aa0 0%,#356aa0 100%);
	background: linear-gradient(to bottom,  #356aa0 0%,#356aa0 100%);
}

.thread_title {
	color:white;
}


.thread_title:hover {
	color:yellow;
}

.thread_tr2 {

}

.thread_td1 {
	width:20%;	
}

.thread_td2 {
	width:80%;
}

.profile_img {
	width:120px;	
	height:120px;
}

INPUT.hintTextbox       { color: #888; }
INPUT.hintTextboxActive { color: #000; }

.thread_page_index { 
	margin-top:15%;
<<<<<<< HEAD
	margin-left:auto;
	margin-right:auto;
	float:left;
=======
>>>>>>> 2a8f84304e35bee3759265ce93ea8c98b91f0159
}

.blue_bloc {
	background: #d2dfed;
	background: -moz-linear-gradient(-45deg,  #d2dfed 0%, #c8d7eb 26%, #afc7e8 48%, #a6c0e3 48%, #bad0ef 75%, #99b5db 88%, #799bc8 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#d2dfed), color-stop(26%,#c8d7eb), color-stop(48%,#afc7e8), color-stop(48%,#a6c0e3), color-stop(75%,#bad0ef), color-stop(88%,#99b5db), color-stop(100%,#799bc8));
	background: -webkit-linear-gradient(-45deg,  #d2dfed 0%,#c8d7eb 26%,#afc7e8 48%,#a6c0e3 48%,#bad0ef 75%,#99b5db 88%,#799bc8 100%);
	background: -o-linear-gradient(-45deg,  #d2dfed 0%,#c8d7eb 26%,#afc7e8 48%,#a6c0e3 48%,#bad0ef 75%,#99b5db 88%,#799bc8 100%);
	background: -ms-linear-gradient(-45deg,  #d2dfed 0%,#c8d7eb 26%,#afc7e8 48%,#a6c0e3 48%,#bad0ef 75%,#99b5db 88%,#799bc8 100%);
	background: linear-gradient(135deg,  #d2dfed 0%,#c8d7eb 26%,#afc7e8 48%,#a6c0e3 48%,#bad0ef 75%,#99b5db 88%,#799bc8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2dfed', endColorstr='#799bc8',GradientType=1 );

}

#account_div p {
	margin:2%;
}

#hos_description {
<<<<<<< HEAD

}
=======
	font-size: 1.2em;
}

#hos_description span {
	color:#2A0A0A;
	font-weight: bold;
}

.nav_link {
	margin:2%;
	margin-left:-5%;
}

.content {
	font-size:1.2em;
	margin-left:3%;
}

#faq {
	font-size: 1.2em;
}

#faq h3{
	color:#2A120A;
}

>>>>>>> 2a8f84304e35bee3759265ce93ea8c98b91f0159
