{% extends "site_base.html" %}

{% block content %}
<div>
	<div style="margin-top:4%;">
	<div id="main">
		<div>
			<a href="/">返回主页</a>
		</div>
		<div style="margin-left:5%;margin-top:2%;margin-bottom:5%;display:inline;">
			{% include "search_bar.html" %}
			{% include "filters.html" %}
			<a href="{% url post_question %}" class="btn">提出新问题</a>
				(问题总数: {{ total_set_size }})
		</div>
		{% include "question_list.html" %}
	</div>
	<div id="sidebar">{% include "right_sidebar.html" %}</div>
	<div class="clear"></div>
</div>
{% endblock %}