{% extends "site_base.html" %}
{% block extra_head %}
<link href="{{STATIC_URL}}css/bbs_layout.css" rel="stylesheet" type="text/css" media="screen">
{% endblock %}

{% block body %}
<div class="nav_link">
	<a href="/bbs/">返回</a>
</div>

{% for error in errors %}
	{{error}}
{% endfor %}

{% if not request.user.is_authenticated %}
<div id="post_profile" style="font-size:1.1em;color:#819FF7;margin:3%;margin-left:10%;font-family: Pmingliu,verdana,arial,sans-serif;font-size:1.1em;">
	请在问题中注明您的年龄、性别等信息，并尽可能描述您情况的细节，这样便于医生和其他患者朋友更准确得为您答疑。<br>您也可以<a href="/accounts/login/">点击这里登陆</a>或<a href="/accounts/signup/">注册为中心新用户</a>（30秒注册）来方便存储个人信息。

</div>
<div style="margin-left:-5%;margin-top:1%;">
	<form action="" method="post" enctype="multipart/form-data" id="profile_form">
		{% csrf_token %}
	</form>
</div>
{% else %}
	{% include 'user_profile.html' %}
{% endif %}

<script language="javascript" type="text/javascript">
	function submitAllForms(){
		document.getElementById("profile_form").submit();
		document.getElementById("question_form").submit();
	}
</script>
<div class="single_form" style="width:55%;float:left;margin-left:-5%;margin-top:1%;">
	<form action="" method="post" enctype="multipart/form-data" id="question_form">
		{% csrf_token %}
		{% if not request.user.is_authenticated %}
			<div style="color:brown">
				<div>年龄: {{temp_profile_form.age}}</div>
				<div>性别: {{temp_profile_form.gender}}</div>
				<div>已经为本中心患者: {{temp_profile_form.enrolled}}</div>
				<div>病史: {{temp_profile_form.history}}</div>
				<input type="hidden" id="auth" name="auth" value="False" />
			</div>
		{% else%}
				<input type="hidden" id="auth" name="auth" value="True" />
		{% endif %}
		<div>标题： {{form.title}}{{form.title.errors}}</div>
		<div>内容： {{form.content}}{{form.content.errors}}</div>
	<div id="submit_question_btn">
			<button name="question" type="submit" class="btn">好的，发出去</button>
	</div>

	</form>
</div>
{% endblock %}