<ul>
	{% for question in questions %}
	<!--table for rendering a thread-->
	<div class="thread">
		<table>
			<tr class="thread_tr1">
				<td class="thread_td1">
					<span style="margin:5%;margin-left:10%;font-size:1.2em;color:white;">
						{% if question.author %}
							{{ question.author.username }}
						{% else %}
							未登录用户
						{% endif %}
					</span>
				</td>
				<td class="thread_td2">
					<span style="margin:5%;font-size:1.5em;">
						<a href="/bbs/{{question.id}}" style="color:white;" class="thread_title">{{ question.title }}</a>
						<span class="thread_title_hint"><-提示:点击题目查看答案</span>
					</span>
				</td>
			</tr>
			<tr class="thread_tr2">
				<td class="thread_td1">
					{% if question.author.user_profile and question.author.user_profile.profile_img %}
					<img class="profile_img" src="{{question.author.user_profile.profile_img.url}}"/>
					{% else %}
						{% if question.author %}
							{% if request.user.user_profile.gender == 'M' %}
								<img class="profile_img" src="{{ STATIC_URL }}images/male.jpg" />	
							{% else %}
								<img class="profile_img" src="{{ STATIC_URL }}images/female.jpg" />	
							{% endif %}
						{% else %}
							{% for temp in question.temp_profile.all%}
								{% if temp.gender == 'M' %}
									<img class="profile_img" src="{{ STATIC_URL }}images/male.jpg" />	
								{% else %}
									<img class="profile_img" src="{{ STATIC_URL }}images/female.jpg" />	
								{% endif %}
							{% endfor %}
						{% endif %}
					{% endif %}
					{% if question.author.user_profile.role == 'D'%}
					<b>医生</bbs>
						{% else %}
						{% endif %}
					</td>
					<td class="thread_td2">
						<span class="content">
							{{ question.content }}
						</span>
					</td>
				</tr>
				<tr>
					<td>
						{% include "thread_profile.html" %}	
					</td>
					<td>
						<span style="color:#585858;font-size:1.15em;float:right;margin-right:2%;"><a href="/bbs/{{question.id}}">当前答案数({{question.answers.all|length}})</a> &nbsp &nbsp &nbsp &nbsp{{ question.update_time}}</span>
					</td>
				</tr>
			</table>
		</div>
		{% empty %}
			很抱歉，没有找到<span style="color:red;">{{ keywords }}</span>相应的条目
		{% endfor %}
	</ul>
	<center class="thread_page_index">
		<a href="{% url bbs_page_index last_index %}">上一页</a>
		第{{cur_index}}页
		<a href="{% url bbs_page_index next_index %}">下一页</a>|
		<a href="{% url bbs%}">首页</a>
		<a href="{% url bbs_page_index total_page_number %}">末页</a> <span>(共 {{ total_page_number }} 页)<span>
	</center>