{% extends "site_base.html" %}
{% block extra_head %}
<link href="{{STATIC_URL}}css/bbs_layout.css" rel="stylesheet" type="text/css" media="screen">
{% endblock %}

{% block body %}
<div class="nav_link">
	<a href="/bbs/">返回</a>
</div>

<div>
	{{question.title}}
</div>

<div>
	{{question.content}}
</div>

{% for answer in question.answers.all %}
	<div>
		{{ answer.content }}
	</div>
{% endfor %}

<div class="single_form">
<form action="" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<div>您的回答： {{form.content}}</div>
	<div id="submit_question_btn">
		<button name="answer" type="submit" class="btn">回答</button>
	</div>
</form>
</div>
{% endblock %}