{% extends "site_base.html" %}

{% load i18n %}

{% block extra_head %}
<link href="{{STATIC_URL}}css/bbs_layout.css" rel="stylesheet" type="text/css" media="screen">
{% endblock %}

{% block body %}
<div class="nav_link">
	<a href="/bbs/">返回</a>
</div>

<div>
	{{question.title}}
	{% if request.user.username == question.author.username %}
	<a href="{% url edit_question question.id %}">修改内容</a>
	<a href="{% url delete_question question.id %}">删除本条问题</a>
	{% endif %}
</div>

<div>
	{{question.content}}
</div>

{% for answer in question.sorted_answers %}
	<div>
		{{ answer.content }}
	</div>
{% endfor %}

{% if authenticated %}
	<div class="single_form">
		<form action="" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<div>您的回答： {{form.content}}</div>
			<div id="submit_question_btn">
				<button name="answer" type="submit" class="btn">回答</button>
			</div>
		</form>
	</div>
{% else %}
	<div class="auth_notify_div">
	    <p>您尚未登录.</p> <p>您可以 <a href="{% url account_login %}" class="btn">登录</a> or <a href="{% url account_signup %}" class="btn primary">注册为用户</a> 开始回答问答区问题 </p>
	</div>
{% endif %}
{% endblock %}