{% extends "site_base.html" %}
{% block extra_head %}
<link href="{{STATIC_URL}}css/site_layout.css" rel="stylesheet" type="text/css" media="screen">
{% endblock %}

{% block body %}
<div class="nav_link">
	<a href="/">返回首页</a>
</div>

<div>{{debug}}</div>

<div class="single_form"
	style="
            background-color:#EBDDE2;
            width:65%;height:55%;
            margin-left:12%;
            padding:5%;
            -webkit-border-radius: 30px;
			border-radius: 30px;">
			<div style="margin-top:1%; text-align:center; font-size:17px;color:#C34A2C;">{{ message }}</div>
<form action="" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<div style="margin-left:32.8%;">
		<div>年龄:{{form.age}}{{form.age.errors}}</div>
		<div>性别:{{form.gender}}{{form.gender.errors}}</div>
		{% if request.user.user_profile.role == 'P' %}
			<div >是否已为本中心患者:{{form.enrolled}}</div>
		{% endif %}
		<div>
		病史: <span style="color:red;">(最多255字)</span>{{form.history}}
		</div>
		<div>头像:
			{% if request.user.user_profile and request.user.user_profile.profile_img %}
				<img class="profile_img" src="{{request.user.user_profile.profile_img.url}}"/>
			{% else %}
				{% if request.user.user_profile.gender == 'M' %}
					<img class="profile_img" src="{{ STATIC_URL }}images/male.jpg" />	
				{% else %}
					<img class="profile_img" src="{{ STATIC_URL }}images/female.jpg" />	
				{% endif %}
			{% endif %}
			<br/>
			{{form.profile_img}}
			{{form.profile_img.errors}}
		</div> 
	</div>

	<div id="submit_question_btn" >
		<br><button name="save" type="submit" class="btn" style="
						width:10%;
                        height:2%;
                        background-color:#C34A2C;
                        padding:0.5%;
                        color:white;
                        -webkit-border-radius: 4px;
						border-radius: 4px;
						margin-left:55%;">保存</button>
	</div>
</form>
</div>
{% endblock %}