{% extends "site_base.html" %}
{% block extra_head %}
<link href="{{STATIC_URL}}css/site_layout.css" rel="stylesheet" type="text/css" media="screen">
{% endblock %}

{% block body %}
<div class="nav_link">
	<a href="/">返回首页</a>
</div>

<div>{{ message }}</div>

<div>{{debug}}</div>

<div class="single_form">
<form action="" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<div>年龄:{{form.age}}{{form.age.errors}}</div>
	<div>性别:{{form.gender}}{{form.gender.errors}}</div>
	{% if request.user.user_profile.role == 'P' %}
		<div>是否已为本中心患者:{{form.enrolled}}</div>
	{% endif %}
	<div>肖像:{{form.profile_img}}
		{% if request.user.user_profile and request.user.user_profile.profile_img %}
		<img class="profile_img" src="{{request.user.user_profile.profile_img.url}}"/>
		{% endif %}
		{{form.profile_img.errors}}
	</div> 

	<div id="submit_question_btn">
		<button name="save" type="submit" class="btn">保存</button>
	</div>
</form>
</div>
{% endblock %}