{% extends 'site_base.html' %}
{% block content %}
<div style="width:63%;margin:8%;">
	<div id="contract_info">
		<h1>医院地址及联系方式：</h1>
		<img src="http://www.hrbszxyy.com/eWebEditor/UploadFile/20101210215314915.jpg"/>
		<p>
			地址：黑龙江省 哈尔滨市 道里区新阳路415号 邮编：150076<br/>
			电话：0451-84886660 84886888<br/>
			网址：www.hszzxyyszzx.com
		</p>
	</div>
	<hr>
	<div id="faq">
		<b>FAQ：</b>

		<div><h3>试管婴儿的流程是怎样的？</h3>
			<p>
				排卵后一周，即大约在月经前一周开始用药，调节约7-10天，直至月经来潮，此阶段不需要再到医院检查。月经第2-4天开始肌肉注射促卵泡生长药物，调整用药剂量，大约用药10天左右至卵泡成熟。</p>
				<p>卵泡成熟日当晚注射促卵药，36小时后取卵，在B超引导下，经阴道穿刺取卵，手术可在无痛麻醉下进行，取卵日要求丈夫留取精液。</p>
				<p>取卵后2-5天将培养好的胚胎放回子宫内，至此治疗基本完成。移植后最好休息3-5天，同时用保胎药，2周后化验检查确定是否怀孕，怀孕后需要定期接受随访，并继续用保胎药至孕期3个月。</p>
				<p>夫妇双方都需要接受有关不孕的常规检查，以确定需要采用的辅助生殖技术方案，同时要根据医生要求完成各项常规检查。就诊时最好带上以前检查及治疗的有关病历记录及化验结果，以避免不必要的重复检查，缩短就诊时间，减少费用。外地患者可在月经第三天前来就诊。</p>
			</div>
			<hr>
			<div>
				<h3>你们中心都能进行哪些项目的治疗？</h3>
				<p>
					男性不育的诊疗项目：
					<ul>
						<li>精液分析（包括形态学分析）；</li>
						<li>精浆果糖测定；</li>
						<li>精液抗精子抗体检查；</li>
						<li>睾丸超声检查；</li>
						<li>睾丸组织活检术；</li>
						<li>显微精索静脉曲张结扎术。</li>
					</ul>
				</p>

				本中心可开展的人类辅助生殖技术包括：
				<ul>
					<li>夫精人工授精术（IUI）；</li>
					<li>体外受精----胚胎移植术（IVF-ET）；</li>
					<li>卵泡将内胆镜子注射技术（ICSI）；</li>
					<li>胚胎冷冻及复苏技术；</li>
					<li>多胎选择性减胎技术；</li>
				</ul>
			</div>
			<hr>
			<div>
				<h3>我应该什么时候去就诊呢？</h3><br>
				生殖中心医生出诊时间：<br>
				每周一至周五 上午 8:00 ---- 11:30<br>
				下午 13:30 ---- 16:20<br>

				(周六、周日、节假日休息，如手术病人除外)<br>
				做输卵管造影时间 ： （月经干净3-7 天， 不同房）<br>
				每周一至周五 上午 9：00 ---- 11：15<br>
				下午 13：00 ---- 14：30<br>
			</div>
			<hr>
			<div>
				<h3>哪些人适合做试管婴儿？</h3>
				<ol>
					<li>严重输卵管疾病，如患盆腔炎导致输卵管堵塞、积水；或输卵管结核应为子宫内膜正常；或异位妊娠术后输卵管堵塞；</li>
					<li>子宫内膜异位症；</li>
					<li>免疫证不孕症；</li>
					<li>男性因素，及严重的少精子症、弱精子症及畸形症；</li>
					<li>原因不明不孕症；</li>
					<li>其他的不孕治疗无效者；</li>
					<li>有遗传性疾病需要做胚胎移植前诊断者；</li>
					<li>其他：如卵泡不破裂综合征。</li>
				</ol>
			</div>
			<hr>
			<div>
				<h3>那些人不适合做试管婴儿？</h3>
				<ol>
					<li>女方有重要的脏器功能异常者，如心脏、肝脏、肾脏、疾病而不能经受妊娠及分娩；</li>
					<li>女方患有急性或慢性活动性传染性疾病、泌尿生殖系统急性感染性疾病；</li>
					<li>女方有卵巢、子宫或乳腺恶性肿瘤者；</li>
					<li>因先天性或后天性因素子宫缺如或严重受损，不能接受胚胎卓创、生长着等。</li>
				</ol>
			</div>
		</div>
	</div>
	{% endblock %}