{% extends 'site_base.html' %}
{% block content %}
<div style="width:70%;margin:8%;">
	<div id="contract_info">
		<h1>医院地址及联系方式：</h1>
		<div style="height:250px;">
			<img src="http://www.hrbszxyy.com/cp/upfile/20110720174004.JPG" style="float:left;display:block;width:50%;height:85%"/>
			<img src="http://www.hrbszxyy.com/eWebEditor/UploadFile/20101210215314915.jpg" style="float:right;display:block;width:50%;height:85%;"/>
		</div>
		<div>
			地址：黑龙江省 哈尔滨市 道里区新阳路415号 邮编：150076<br/>
			电话：0451-84886660 84886888<br/>
			网址：www.hszzxyyszzx.com
		</div>
	</div>
	<hr>
	<div id="faq">
		<b>FAQ：</b>

		<p>
		<h3>1、中心的就诊时间：</h3>
		每周一至周五 上午 8:00 ---- 11:30<br>
		下午 13:30 ---- 16:20<br>
		(周六、周日、节假日休息，有约定监测排卵和手术病人除外)<br>
		做输卵管造影时间 ： （月经干净3-7 天， 不同房）<br>
		每周一至周五 上午 9：00 --11：00；下午 13：00 ---- 14：30<br>
		</p>
		
		<hr>

		<p>
		<h3>2、中心的就诊流程：</h3>
			<ol>
				<li>病人到达门诊5楼，按照挂号时所选择的医师分别就诊<br/>
				陈飒英——主任室；许国彬——1诊室；李楠——2诊室；孙晓光——男科诊室。</li>
				<li>医师按照电脑中的挂号顺序叫号，病人根据医师的询问向医生讲诉病史，医师为病人书写门诊病历，并根据病史指导病人进行下一步辅助检查，待检查结果出来后，确定治疗 方案。</li>
			</ol>
		</p>

		<hr>

		<p>
		<h3>3、我中心的诊疗项目：</h3>
			<ol>
				<li>女科：女性不孕症的常规诊疗</li>
				<li>辅助生殖技术（试管婴儿）：体外受精——胚胎移植（IVF）；单精子卵泡浆内注射技术（ICSI）；胚胎冷冻及复苏技术；多胎妊娠选择性胚胎歼灭术。</li>
				<li>男科：  
					<ul>
							<li>精液分析（包括形态学分析）；</li>
							<li>精浆果糖测定；</li>
							<li>精液抗精子抗体检查；</li>
							<li>睾丸超声检查；</li>
							<li>睾丸组织活检术；</li>
							<li>显微精索静脉曲张结扎术。</li>
					</ul>
				</li>
			</ol>
		</p>

		<hr>

		<p>
		<h3>4、试管婴儿的流程：</h3>
			首先经临床医师明确诊断→按照卫生部规定的辅助生殖助孕指征明确是否适合辅助助孕 →  根据病人的不同情况个体化的选择促排卵方案→  促排卵→  监测卵泡发育情况在卵泡发育成熟时取卵 →  同时丈夫取精液→  体外受精 → 胚胎移植→  半月后验孕。 
		</p>

		<hr>	

		<p>
		<h3>5、哪些人适合做试管婴儿？</h3>
			<ol>
				<li>严重输卵管疾病，如盆腔炎导致的输卵管堵塞、积水；输卵管结核但子宫内膜正常；异位妊娠术后输卵管堵塞等；</li>
				<li>子宫内膜异位症；</li>
				<li>免疫性不孕症；</li>
				<li>男性因素，严重的少精子症、弱精子症及畸形精子症；</li>
				<li>原因不明性不孕症；</li>
				<li>经系统治疗无效的不孕患者；</li>
				<li>有遗传性疾病需要做胚胎移植前诊断者；</li>
				<li>其他：如卵泡不破裂综合</li>
			</ol>
		</p>

		<hr>

		<p>
		<h3>6、哪 些人不适合做试管婴儿</h3>
			<ol>
				<li>女方有严重的脏器功能异常者，如心脏、肝脏、肾脏疾病而不能经受妊娠及分娩；</li>
				<li>女方患有急性或慢性、活动性传染性疾病、泌尿生殖系统急性感染性疾病；</li>
				<li>女方有卵巢、子宫或乳腺恶性肿瘤者；</li>
				<li>因先天性或后天性因素子宫缺如或严重受损，不能接受胚胎着床、生长着等。</li>
			</ol>
		</p>
</div>


	{% endblock %}