{% extends "site_base.html" %}

{% block image_slider %}
<div id="topSlideshowWrapper" > 
  <div id="sliderContainer"> 
    <!-- YOUR SLIDESHOW IMAGES HERE (recommended size 920x300) -->  
    <div id="slider1"> 
      <ul id="slider1Content">
        <li class="slider1Image"> 
          <a href="http://all-free-download.com" title="Modern Living room" target="_blank" shape="rect"> 
            <img src="{{STATIC_URL}}images/homepage/home1.jpg" />  
            <span class="bottom" style="display: inline;"> 
              <strong>护士工作站</strong>  
              <br clear="none" /> 为您提供最初的就诊指南，在您初到本中心即可体会到宾至如归的服务。
            </span> 
          </a> 
        </li>
        <li class="slider1Image"> 
          <a href="http://all-free-download.com" title="Modern Living room" target="_blank" shape="rect"> 
            <img src="{{STATIC_URL}}images/homepage/home2.jpg" />  
            <span class="bottom" style="display: inline;"> 
              <strong>候诊室</strong>  
              <br clear="none" /> 使您在候诊期间得到休息的同时，也能通过墙壁上精心布置的宣传板和视频资料进一步了解生殖健康知识。
            </span> 
          </a> 
        </li>
        <li class="slider1Image"> 
          <a href="http://all-free-download.com" title="Modern Living room" target="_blank" shape="rect"> 
            <img src="{{STATIC_URL}}images/homepage/home3.jpg" />  
            <span class="bottom" style="display: inline;"> 
              <strong>胚胎实验室</strong>  
              <br clear="none" /> 一个个小生命从这里诞生。
            </span> 
          </a> 
        </li>
        <li class="slider1Image" style="clear:both"></li>
      </ul>  
      <div id="sliderLeftMask" style="background:url('images/css/sliderLeftMask.png') no-repeat scroll center center transparent;"></div>  
      <div id="sliderRightMask" style="background:url('images/css/sliderRightMask.png') no-repeat scroll center center transparent;"></div> 
    </div> 
  </div> 
</div> 
</div>  
<!-- end top wrapper --> 
{% endblock %}
{% block content %}
<div style="margin-top: 20px;">
  <div id="main">
    <div class="blue_bloc rounded" id="account_div" >
     {% if user.is_authenticated %}
     {% url what_next as what_next_url %}
     <p class="what_next">您好已注册的朋友 您可以点此修改<a href="{% url profile_settings %}"><i class="icon-user"></i>个人信息</a></p>

     {% if request.user.is_superuser %}
     <p> 您是系统管理员, <a href="/admin/">您可以点击进入管理页面</a></p>
     {% endif %}

     {% else %}
     {% url account_login as login_url %}
     {% url account_signup as signup_url %}
     <p>您可以 <a href="{{ login_url }}" class="btn">登录</a> or <a href="{{ signup_url }}" class="btn primary">注册为用户</a> 开始使用本站问答区</p>
     {% endif %} 
   </div>
   <div id="hos_description">
     <p style="text-indent:0em;">
       <b style="font-size:2em;color:#F7819F;">哈尔滨红十字中心医院</b>（哈尔滨市妇产医院）是一所综合医院，其中妇产科为三甲等专科----哈尔滨市重点学科。生殖医学中心创建于2004年6月，是省内较早成立的生殖中心之一。使用面积近500平方米，环境温馨舒适，有设备完善的手术室、高质量的胚胎培养室、胚胎冷冻、保存装置及男科实验室等工作区间，能开展各项不孕症检查、治疗及科学研究。中心拥有一支经验丰富、科研能力较强的专业技术团队，主要技术骨干均在国内外受过专业技术培训。共有医疗、实验室和护理人员12名，其中高级职称5名。科主任是省内著名的生殖专家，在诊断和治疗不孕不育疾病方面积累了丰富的临床经验。生殖中心成立以来，硕果累累，通过助孕技术为广大不孕不育夫妇实现了妊娠生子的愿望。</p>
        <p>与生殖中心相关科室还有：<span>妇产科</span>（210张床位）、<span>腔镜科</span>（腹腔镜、宫腔镜、阴道镜）、<span>超声科</span>（具有先进的彩色超声仪8台）、<span>中心实验室</span>（各种临床检验项目及染色体检查）。
       </p>
     </div>
 </div>
   <div id="sidebar">
     <div class="bloc rounded" style="margin-top: 20px;">
      <h3>医患问答区</h3>
      <p>
       本区为患者及家属提供一个向生殖领域专业医师提问的平台。您可以提出任何关于您病情的咨询问题，本部专家及有相关经验的患者朋友将真诚为您解答。您的问题也可能在未来帮助其他和您情况相似的病人。
     </p>
     <p><a class="btn" href="/bbs/">走，去看看 &raquo;</a></p>
 </div>
   <!--<div class="bloc rounded" style="margin-top: 20px;">
    <h3>健康贴士发布区</h3>
    <p>我部医师及工作人员会定期发表新的生殖健康及养生文章，为您的健康护航。有空就来看看哦，说不定会受益匪浅。</p>
    <p><a class="btn" href="{% url posts %}">走，去看看 &raquo;</a></p>
  </div>-->
     <div class="bloc rounded" style="margin-top: 20px;">
      <h3>就诊导航</h3>
      <p>
        本区向您介绍试管婴儿技术的相关知识以及本中心包含的医疗项目，为您前来就诊做好准备。
     </p>
     <p><a class="btn" href="/guide/">走，去看看 &raquo;</a></p>
   </div>
  <div class="clear"></div>
</div>
{% endblock %}
