{% extends "site_base.html" %}
{% load i18n %}
{% trans "哈尔滨红十字中心医院生殖中心" %}
{% block extra_head %}
<link rel="stylesheet" href="{{STATIC_URL}}css/homepage.css" type="text/css" media="screen">
{% endblock %}
{% block body %}
	<div id="content">
		<div id="fast_entries">
			<div id="entry1">
				<h2>医患问答区</h2>
		    	<p>
			    	本区为患者及家属提供一个向生殖领域专业医师提问的平台。您
			    	可以提出任何关于您病情的咨询问题，
			    	本部专家及有相关经验的患者朋友将真诚为您解答。
			    	您的问题也可能在未来帮助其他和您情况相似的病人。
		    	</p>
		    	<p>
		    		<a class="btn" href="/bbs/">走，去看看 &raquo;</a>
		    	</p>
			</div>
			<div id="entry2">
				<h2>健康贴士发布区</h2>
		    	<p>
			    	我部医师及工作人员会定期发表新的生殖健康及养生文章，
			    	为您的健康护航。有空就来看看哦，说不定会受益匪浅。
		    	</p>
		    	<p>
		    		<a class="btn" href="{% url posts %}">走，去看看 &raquo;</a>
		    	</p>
			</div>
			<div id="entry3">
				<h2>本科的人员及就诊导航</h2>
		    	<p>
		    		本区将为您介绍我部的相关业务，使您的流程路径更加清晰。
		    	</p>
		    	<p>
		    		<a class="btn" href="#">走，去看看 &raquo;</a>
		    	</p>
			</div>
		</div>
		<div id="introduction">
			<div id="header" class="moved_words">
					<marquee behavior="alternate" scrollAmount="5">
						<span>
							<font size="5px" color="#663300">
							{% blocktrans %}
							欢迎光临哈尔滨红十字医院生殖中心
							{% endblocktrans %} 
							</font>
						</span>
					</marquee>
			</div>
		</div>
	</div>
{% endblock %}
