{% extends "site_base.html" %}
{% block extra_head %}
	<!-- Skin CSS file -->
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/assets/skins/sam/skin.css">
	<!-- Utility Dependencies -->
	<script src="http://yui.yahooapis.com/2.9.0/build/yahoo-dom-event/yahoo-dom-event.js"></script> 
	<script src="http://yui.yahooapis.com/2.9.0/build/element/element-min.js"></script> 
	<!-- Needed for Menus, Buttons and Overlays used in the Toolbar -->
	<script src="http://yui.yahooapis.com/2.9.0/build/container/container_core-min.js"></script>
	<script src="http://yui.yahooapis.com/2.9.0/build/menu/menu-min.js"></script>
	<script src="http://yui.yahooapis.com/2.9.0/build/button/button-min.js"></script>
	<!-- Source file for Rich Text Editor-->
	<script src="http://yui.yahooapis.com/2.9.0/build/editor/editor-min.js"></script>

	<!-- Skin CSS file -->
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/assets/skins/sam/skin.css">
	<!-- Utility Dependencies -->
	<script src="http://yui.yahooapis.com/2.9.0/build/yahoo-dom-event/yahoo-dom-event.js"></script> 
	<script src="http://yui.yahooapis.com/2.9.0/build/element/element-min.js"></script> 
	<!-- Needed for Menus, Buttons and Overlays used in the Toolbar -->
	<script src="http://yui.yahooapis.com/2.9.0/build/container/container_core-min.js"></script>
	<!-- Source file for Rich Text Editor-->
	<script src="http://yui.yahooapis.com/2.9.0/build/editor/simpleeditor-min.js"></script>
{% endblock%}

{% block content %}

<div class="nav_link">
	<a href="/bbs/">返回</a>
</div>

{% for error in errors %}
	{{error}}
{% endfor %}

{% include 'user_profile.html' %}

<div class="single_form " style="width:55%;float:left;margin-left:-5%;margin-top:1%;">
	<form action="" method="post" enctype="multipart/form-data" id="post_form">
		{% csrf_token %}
		<input type="hidden" id="auth" name="auth" value="True" />
		<div>标题： {{form.title}}
			<span class="errors">{{form.title.errors}}</span>
		</div>
		<script language="javascript" type="text/javascript">
			var myEditor = new YAHOO.widget.Editor('msgpost', {
			    height: '400px',
			    width: '400px',
			    dompath: false, //Turns on the bar at the bottom
			    handleSubmit:true,
			    toolbar: {
			        titlebar: '内容：',
			        buttons: [
			            { group: 'textstyle', label: 'Font Style',
			                buttons: [
			                    { type: 'push', label: 'Bold', value: 'bold' },
			                    { type: 'push', label: 'Italic', value: 'italic' },
			                    { type: 'push', label: 'Underline', value: 'underline' },
			                    { type: 'separator' },
			                    { type: 'select', label: 'Arial', value: 'fontname', disabled: false,
			                        menu: [
			                            { text: 'Arial', checked: true },
			                            { text: 'Arial Black' },
			                            { text: 'Comic Sans MS' },
			                            { text: 'Courier New' },
			                            { text: 'Lucida Console' },
			                            { text: 'Tahoma' },
			                            { text: 'Times New Roman' },
			                            { text: 'Trebuchet MS' },
			                            { text: 'Verdana' }
			                        ]
			                    },
			                    { type: 'spin', label: '13', value: 'fontsize', range: [ 9, 75 ], disabled: false },
			                    { type: 'separator' },
			                    { type: 'color', label: 'Font Color', value: 'forecolor', disabled: false },
			                    { type: 'color', label: 'Background Color', value: 'backcolor', disabled: false }
			                ]
			            }
			        ]
				    }
				});
				myEditor.render();	
		</script>
		<div class="yui-skin-sam" style="margin-top:5%;">
			<textarea name="content" id="msgpost" cols="40" rows="10">
			</textarea>
			<span class="errors">{{form.content.errors}}</span></div>
			<div>
				<button name="post" class="btn">好的，发出去</button>
			</div>
		</div>
	</form>	
</div>


{% endblock %}