{% extends "site_base.html" %}
{% block extra_head %}
<link href="{{STATIC_URL}}css/bbs_layout.css" rel="stylesheet" type="text/css" media="screen">
{% endblock %}

{% block content %}

<div class="nav_link">
	<a href="/bbs/">返回</a>
</div>

{% for error in errors %}
	{{error}}
{% endfor %}

{% include 'user_profile.html' %}

<div class="single_form" style="width:55%;float:left;margin-left:-5%;margin-top:1%;">
	<form action="" method="post" enctype="multipart/form-data" id="post_form">
		{% csrf_token %}
		<input type="hidden" id="auth" name="auth" value="True" />
		<div>标题： {{form.title}}
			<span class="errors">{{form.title.errors}}</span>
		</div>
		<div>内容： {{form.content}}
			<span class="errors">{{form.content.errors}}</span></div>
			<button name="post" type="submit" class="btn">好的，发出去</button>
		</div>
	</form>
</div>

{% endblock %}