{% extends "site_base.html" %}

{% block extra_head %}
<link href="{{STATIC_URL}}css/posts_layout.css" rel="stylesheet" type="text/css" media="screen">
{% endblock %}

{{debug}

{% block content %}
	<div id="main" style="margin-top:2%;">
		<div>
			<a href="/">返回主页</a>
		</div>
		{% for d in debug %}
			{{d}}
		{% endfor %}
		<div style="margin-left:5%;margin-top:2%;margin-bottom:5%;display:inline;">
			<table>
				<tr>
					<td>
						{% include "search_bar.html" %}
						{% include "filters.html" %}
					</td>
					<td>
						<a href="{% url new_post %}" class="btn">发表新文章</a>
						<span>(当前文章总数: {{ total_set_size }})</span>
					</td>
				</tr>
			</table>
		</div>
		<div style="margin-left:7%;">
		{% include "post_list.html" %}
		</div>
	</div>
	<div id="sidebar">{% include "right_sidebar.html" %}</div>
{% endblock %}