<ul>
	{% for post in posts %}
	<!--table for rendering a thread-->
	<div class="thread">
		<div>
				{{ post.author.username }},{{ post.author.user_profile.role}}
				<a href="/post/{{post.id}}">{{ post.title }}
					{{ question.update_time}}</a>
		</div>
		<div>
			<div >
				{% if post.author.user_profile and post.author.user_profile.profile_img %}
					<img class="profile_img" src="{{post.author.user_profile.profile_img.url}}"/>
				{% else %}
					{% if request.user.user_profile.gender == 'M' %}
						<img class="profile_img" src="{{ MEDIA_URL }}images/male.jpg" />	
					{% else %}
						<img class="profile_img" src="{{ MEDIA_URL }}images/female.jpg" />	
					{% endif %}
				{% endif %}
				<span class="content">
					{{ post.content }}
				</span>
						
			</div>
		</div>
	{% endfor %}
</ul>
<div class="thread_page_index">
	<a href="{% url post_page_index last_index %}">上一页</a>
	第{{cur_index}}页
	<a href="{% url post_page_index next_index %}">下一页</a>|
	<a href="{% url posts%}">首页</a>
	<a href="{% url post_page_index total_page_number %}">末页</a> <span>(共 {{ total_page_number }} 页)<span>
</div>