<ul>
	{% for post in posts %}
		<div>
			<div>
				{{ post.title }}
			</div>
			<div>
				<a href="/post/{{post.id}}/">{{ post.content }}</a>
				{{ post.update_time}}
				来自 {{post.author.username}}
			<div>
		</div>
	{% endfor %}
</ul>
<div class="thread_page_index">
	<a href="{% url post_page_index last_index %}">上一页</a>
	第{{cur_index}}页
	<a href="{% url post_page_index next_index %}">下一页</a>|
	<a href="{% url posts%}">首页</a>
	<a href="{% url post_page_index total_page_number %}">末页</a> <span>(共 {{ total_page_number }} 页)<span>
</div>