
{% for post in posts %}
<!--table for rendering a thread-->
<div class="thread">
	<table>
		<tr class="thread_tr1">
			<td class="thread_td1">
				<span style="margin:5%;margin-left:10%;font-size:1.2em;color:white;">
					{% if post.author %}
						{{ post.author.username }}
					{% else %}
						未登录用户
					{% endif %}
				</span>
			</td>
			<td class="thread_td2">
				<span style="margin:5%;font-size:1.5em;">
					<a href="/post/{{post.id}}" style="color:white;" class="thread_title">{{ post.title }}</a>
				</span>
			</td>
		</tr>
		<tr class="thread_tr2">
			<td class="thread_td1">
				{% if post.author.user_profile and post.author.user_profile.profile_img %}
				<img class="profile_img" src="{{post.author.user_profile.profile_img.url}}"/>
				{% else %}
					{% if not post.temp_profile %}
						{% if request.user.user_profile.gender == 'M' %}
							<img class="profile_img" src="{{ MEDIA_URL }}images/male.jpg" />	
						{% else %}
							<img class="profile_img" src="{{ MEDIA_URL }}images/female.jpg" />	
						{% endif %}
					{% else %}
						{% for temp in post.temp_profile.all%}
							{% if temp.gender == 'M' %}
								<img class="profile_img" src="{{ MEDIA_URL }}images/male.jpg" />	
							{% else %}
								<img class="profile_img" src="{{ MEDIA_URL }}images/female.jpg" />	
							{% endif %}
						{% endfor %}
					{% endif %}
				{% endif %}
				{% if post.author.user_profile.role == 'D'%}
				<b>医生</bbs>
					{% else %}
					{% endif %}
				</td>
				<td class="thread_td2">
					<span class="content">
						{{ post.content }}
					</span>
				</td>
			</tr>
			<tr>
				<td class="profile">
					{% include "post_thread_profile.html" %}	
				</td>
				<td>
					<span style="color:#D8D8D8;font-size:1.15em;float:right;margin-right:2%;">
						当前答案数({{post.answers.all|length}}) &nbsp &nbsp &nbsp &nbsp{{ post.update_time}}
					</span>
				</td>
			</tr>
		</table>
	</div>
{% endfor %}
<div class="thread_page_index">
	<a href="{% url post_page_index last_index %}">上一页</a>
	第{{cur_index}}页
	<a href="{% url post_page_index next_index %}">下一页</a>|
	<a href="{% url posts%}">首页</a>
	<a href="{% url post_page_index total_page_number %}">末页</a> <span>(共 {{ total_page_number }} 页)<span>
</div>