{% extends "site_base.html" %}

{% block extra_head %}
<link href="{{STATIC_URL}}css/posts_layout.css" rel="stylesheet" type="text/css" media="screen">
{% endblock %}

{{debug}

{% block content %}
	<div id="main" style="margin-top:2%;">
		<div>
			<a href="/">返回主页</a>
		</div>
		{% for d in debug %}
			{{d}}
		{% endfor %}
		<div style="margin-top:5%;margin-bottom:2%;float:right;width:100%;">
			<span class="newpost">
				<a href="{% url new_post %}" class="btn">发表新文章</a>
				<span>(当前文章总数: {{ total_set_size }})</span>
			</span>
		</div>
		<div style="margin-left:7%;">
		{% include "post_list.html" %}
		</div>
	</div>
	<div id="sidebar">{% include "right_sidebar.html" %}</div>
{% endblock %}