{% extends "site_base.html" %}

{% block extra_head %}
<link href="{{STATIC_URL}}css/posts_layout.css" rel="stylesheet" type="text/css" media="screen">
{% endblock %}

{{debug}

{% block body %}
	<div>
		<a href="/">返回主页</a>
	</div>
	{% for d in debug %}
		{{d}}
	{% endfor %}
	{% include "search_bar.html" %}
	{% include "filters.html" %}
	<a href="{% url new_post %}" class="btn">发表新文章</a>
	<span>(当前文章总数: {{ total_set_size }})</span>
	{% include "post_list.html" %}
	{% include "right_sidebar.html" %}
{% endblock %}