

{% extends "site_base.html" %}

{% load i18n %}

{% block extra_head %}
<link href="{{STATIC_URL}}css/bbs_layout.css" rel="stylesheet" type="text/css" media="screen">
{% endblock %}

{% block content %}
<div class="nav_link">
	<a href="/post/">返回</a>
</div>

<div>
	{% if request.user.username == post.author.username %}
		您是本篇文章的作者 您可以：
		<a href="{% url edit_post post.id %}">修改文章内容</a>
		<a href="{% url delete_post post.id %}">删除本文章</a>
	{% endif %}
</div>

<div style="width:75%;">
	<!--table for rendering a thread-->
	<div class="thread">
	<table>
		<tr class="thread_tr1">
			<td class="thread_td1">
				<span style="margin:5%;margin-left:10%;font-size:1.2em;color:white;">
					{{ post.author.username }}
				</span>
			</td>
			<td class="thread_td2">
				<span style="margin:5%;font-size:1.5em;">
					<a href="/bbs/{{post.id}}" style="color:white;" class="thread_title">{{ post.title }}</a>
				</span>
			</td>
		</tr>
		<tr class="thread_tr2">
			<td class="thread_td1">
				{% if post.author.user_profile and post.author.user_profile.profile_img %}
				<img class="profile_img" src="{{post.author.user_profile.profile_img.url}}"/>
				{% else %}
				{% if request.user.user_profile.gender == 'M' %}
				<img class="profile_img" src="{{ STATIC_URL }}images/male.jpg" />	
				{% else %}
				<img class="profile_img" src="{{ STATIC_URL }}images/female.jpg" />	
				{% endif %}
				{% endif %}
				{% if post.author.user_profile.role == 'D'%}
					<b>医生</bbs>
				{% endif %}
				</td>
				<td class="thread_td2">
					<span class="content">
						{{ post.content }}
					</span>
				</td>
			</tr>
			<tr>
				<td>
					{% include "post_thread_profile.html" %}
				</td>
				<td>
					<span style="color:#D8D8D8;font-size:1.15em;float:right;margin-right:2%;">当前答案数({{post.replys.all|length}}) &nbsp &nbsp &nbsp &nbsp{{ post.update_time}}</span>
				</td>
			</tr>
		</table>
	</div>

	{% for reply in post.Replies.all %}
	<!--table for rendering a thread-->
	<div class="thread">
	<table>
		<tr class="thread_tr1">
			<td class="thread_td1">
				<span style="margin:5%;margin-left:10%;font-size:1.2em;color:white;">
					{{ reply.author.username }}
				</span>
			</td>
			<td class="thread_td2">
				<span style="margin:5%;font-size:1.5em;">
					评论: {{ post.title }}
				</span>
			</td>
		</tr>
		<tr class="thread_tr2">
			<td class="thread_td1">
				{% if reply.author.user_profile and reply.author.user_profile.profile_img %}
				<img class="profile_img" src="{{reply.author.user_profile.profile_img.url}}"/>
				{% else %}
					{% if reply.author.user_profile.gender == 'M' %}
					<img class="profile_img" src="{{ STATIC_URL }}images/male.jpg" />	
					{% else %}
					<img class="profile_img" src="{{ STATIC_URL }}images/female.jpg" />	
					{% endif %}
				{% endif %}
				{% if reply.author.user_profile.role == 'D'%}
					<b>医生</bbs>
				{% endif %}
				</td>
				<td class="thread_td2">
					<span class="content">
						{{ reply.content }}
					</span>
				</td>
			</tr>
			<tr>
				<td>
					{% include "reply_profile.html" %}
				</td>
				<td>
					<span style="color:#D8D8D8;font-size:1.15em;float:right;margin-right:2%;"> &nbsp &nbsp &nbsp &nbsp{{ reply.update_time}}</span>
				</td>
			</tr>
		</table>
	</div>
	{% endfor %}
</div>

<hr style="margin-top:5%;">
{% if authenticated %}
	<div style="margin-left:-10%;margin-top:5%;"> 
		<span>
			{% include 'user_profile.html' %} 
		</span>
		<span style="float:left;width:60%;">
			<form action="" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<div>您的回答： {{ form.content }}
					<button name="reply" type="submit" class="btn" style="float:right;margin-right:-9%;">评论</button>
				</div>
			</form>
		<span>
	</div>
{% else %}
	<div class="auth_notify_div">
	    <p>您尚未登录.</p> <p>您可以 <a href="{% url account_login %}" class="btn">登录</a> or <a href="{% url account_signup %}" class="btn primary">注册为用户</a> 开始回答问答区问题 </p>
	</div>
{% endif %}
{% endblock %}